# ____REMOVE THIS LINE AFTER RENAMING sample.env to .env ____
DATABASE_URL=postgres://koyeb-adm:lMv2EcBgFJ8R@ep-bold-waterfall-a25k4jb1.eu-central-1.pg.koyeb.app/koyebdb
SESSION_ID=Prince~hwR3jKKC#LI2yP18xEF60ra0gb-CoSmk-4Iour-8uT5OU7Whl44g
REMOVEBG_KEY=CMAwyWhRMjJ9s71P281cxk2u
PREFIX=.
MODE=private
AutoReaction=false
STATUSVIEW=true
OWNERS=923036971399;SUFYAN JAN 
antidelete=true
BOT_NAME=Prince
DL_MSG=SUFYAN KHOKHAR LHR 
ANTI_LINK=true
ANTI_CALL=false
VIEWONCE=true
REPLY_STATUS=false
STATUS_MESSAGE=🩵ʏᴏᴜʀ sᴛᴀᴛᴜs sᴇᴇɴ sᴜᴄᴄᴇssғᴜʟʟʏ😍 😎ʙʏ *ᴘʀɪɴᴄᴇ ᴍᴅ* ᴡʜᴀᴛsᴀᴘᴘ ʙᴏᴛ🩵
AUTOREAD=false
